---
layout: default
title: Blog
---
{% for post in site.posts %}
<div class="row">
  <div class="one mobile-one columns">
    <a href="{{ post.url }}"><span class="radius secondary label">{{ post.date | date_to_string }}</span></a>
  </div>
  <div class="eleven mobile-three columns">
    <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
    <p>{% for tag in post.tags %}<a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="radius label">{{ tag }}</span></a> {% endfor %}</p>
  </div>
<hr>
</div>
{% endfor %}
